[[ template "_shared/main" . ]]

[[ define "head.slot" ]]
<link rel="stylesheet" href="/browser/trips/image-gallery/image-gallery.css" />
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular-route.min.js"></script>
<script src="/browser/trips/xml2json.js"></script>
<script src="/browser/trips/image-gallery/gallery-controllers.js"></script>
[[ end ]]

[[ define "content.slot" ]]
<div class="row">
    <div class="visible-md visible-lg col-md-2">
        [[ template "trips/left-nav" ]]
    </div>
    <div class="col-sm-12 col-md-10" role="main">
    	<h1>
    		[[ .trip.Name ]]
    	</h1>
    	<script type="text/javascript">
	         angular.module('galleryApp')
    	        .value('indexFileUrl', '[[ .trip.Slides.IndexFileUrl ]]')
        	    .value('rootUrl', '[[ .trip.Slides.RootUrl ]]');
    	</script>
    	<div ng-app="galleryApp" ng-controller="galleryController">
    		<div ng-show="showLoading">
    			<h3>Loading...</h3>
    			<p>
    				This will just take a second.
    			</p>
    		</div>
    		<div ng-hide="showLoading">
    			<div ng-repeat="slide in slides" class="thumbnailContainer">
    				<table cellpadding="0" cellspacing="0">
    					<tr>
    						<td>
    							<a ng-href="{{rootUrl}}/WebSize/{{slide.FileName}}">
									<img title='{{slide.Title}} {{slide.DateTaken | date:"medium"}}' ng-src='{{rootUrl}}/Thumbnails/{{slide.FileName}}' alt='{{slide.Title}} {{slide.DateTaken | date:"medium"}}' style='border-width:0;' />
								</a>
    						</td>
    					</tr>
    				</table>
    			</div>
    		</div>
    	</div>
    </div>
</div>
[[ end ]]