{{ define "trips/index.tmpl" }}
<html>
	<head>
		<title>{{ .title }}</title>
	</head>
	<body>
	    <h1>
	        {{ .title }}
	    </h1>
	    <p>
	    	This is where I will list all the trips.
	    </p>
    </body>
</html>
{{ end }}