[[ template "_shared/main" . ]]

[[ define "content.slot" ]]
<div class="row">
    <div class="visible-md visible-lg col-md-2">
        [[ template "trips/left-nav" ]]
    </div>
    <div class="col-sm-12 col-md-10" role="main">
        <h1>Trips</h1>
        [[ range $trip := .trips ]]
            <div class="media">
                <a class="pull-left hidden-xs" href="/trips/[[ $trip.Id ]]">
                    <img class="media-object" alt="[[ $trip.Image.AltText ]]" src="/browser/trips/index-images/[[ $trip.Id ]]/[[ $trip.Image.FileName ]]" />
                </a>
                <div class="media-body">
                    <h4 class="media-heading">
                        [[ $trip.Name ]]
                        <a href="/trips/[[ $trip.Id ]]">[Gallery]</a>
                        <a href="/trips/[[ $trip.Id ]]/slide-show">[Slide Show]</a>
                    </h4>
                    <p> 
                        [[ $trip.Description ]]           
                    </p>
                </div>
            </div>
        [[ end ]]
    </div>
</div>
[[ end ]]