[[ template "_shared/main" . ]]

[[ define "content.slot" ]]
<img src="/browser/resume/mcsd-rgb.gif" alt="Microsoft Certified Solution Developer" class="pull-right" />
<h1>Resume</h1>
<p class="clearfix">
    Passively seeking full time employment in a leadership role as a senior software and web developer.
</p>
<h2>Education</h2>
<ul>
	<li>
	    <strong>Bachelor’s Degree</strong> in <strong>Math and Computer Science</strong> and a minor in
	    <strong>Economics and Business</strong> from the <strong>Colorado School of Mines</strong>, Golden, Colorado
	</li>
	<li><strong>Graduated with High Honors</strong>: Cumulative GPA: 3.508</li>
	<li>Microsoft <strong>MCSD</strong> Certification</li>
</ul>
[[ end ]]