[[ template "_shared/main" . ]]

[[ define "content.slot" ]]
<img src="/browser/resume/mcsd-rgb.gif" alt="Microsoft Certified Solution Developer" class="pull-right" />
<h1>Resume</h1>
<p class="clearfix">
    Passively seeking full time employment in a leadership role as a senior software and web developer.
</p>
<h2>Education</h2>
<ul>
    <li>
        <strong>Bachelor’s Degree</strong> in <strong>Math and Computer Science</strong> and a minor in
        <strong>Economics and Business</strong> from the <strong>Colorado School of Mines</strong>, Golden, Colorado
    </li>
    <li><strong>Graduated with High Honors</strong>: Cumulative GPA: 3.508</li>
    <li>Microsoft <strong>MCSD</strong> Certification</li>
</ul>
<h2>Programming Skills</h2>
<ul>
    <li>
        Languages: <strong>C#</strong> (since 2001), <strong>ASP.NET</strong> including MVC (since 2001),
        <strong>client side JavaScript</strong> (since 2001), <strong>Go</strong> (since 2016),
        <strong>Node.js</strong> (since 2015), <strong>MongoDB</strong> (since 2014),
        <strong>SQL</strong> (since 2002 on MS SQL Server), <strong>Objective C</strong> (limited).
    </li>
    <li>
        Experience leading teams on large programming projects in all phases including initial design,
        implementation and testing, deployment, and operations.
    </li>
    <li>
        Strong understanding of <strong>Object Oriented Programming</strong> with an emphasis on
        <strong>Domain Driven Design</strong> and patterns.
    </li>
    <li>
        Practice <strong>Test Driven Development</strong> with NUnit, Jasmine, SpecFlow (Gherkin), and RhinoMocks.
    </li>
    <li>
        Design <strong>automated builds</strong> to keep system deployment reliable and reproducible.
    </li>
    <li>
        Familiar with <strong>Service Oriented Architecture</strong> including SOAP, REST,
        and <strong>event-driven architecture</strong> with message queueing.
    </li>
    <li>
        Familiar with the principles of <strong>N-Tier Development</strong> to keep large systems as flexible
        and maintainable as possible.
    </li>
    <li>
        Experience creating <strong>single page apps</strong> using <strong>AJAX</strong> to create dynamic web interfaces.
    </li>
    <li>
        Experience using <strong>Git, Mercurial, and Subversion</strong>, including the GitFlow branching pattern.
    </li>
</ul>
<h2>Values</h2>
<ul>
    <li>Personal Responsibility</li>
    <li>Continuous Learning</li>
    <li>Follow-through</li>
    <li>Creativity/Freedom To Try New Things</li>
</ul>
<h2>Recent Employment</h2>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">LeisureLink (formerly VacationRoost) March 2008 - Present</h3>
    </div>
    <div class="panel-body">
        <p>
            I started as a senior developer responsible for designing and implementing major portions of
            mission critical systems in a Microsoft stack. My first contribution was to help migrate to
            the MS Great Plains accounting system by building an interface between it and our legacy booking
            database. My next challenge was to assume responsibility for development of a new system of
            almost 30 websites. I took ownership of the system just before it launched in 2008 and was on
            the front lines as we worked through the initial issues while continuing to develop new functionality.
        </p>
        <p>
            After two years as a senior developer I assumed the role of agile product owner for
            the team after the previous person in that role left. My biggest accomplishment while playing
            that role was to extend our core system from being used only for sales under our own brands, to
            being a while label platform used for sales for 3rd party resorts and other organizations. The
            transformation also included expanding beyond lodging sales into full package sales including
            airfare and car rentals. I designed many of the key features required for the expansion and
            communicated them to the team of in-house and off-shore developers through user stories.
        </p>
        <p>
            Success as a product owner led me to the position of Director of Product Management. In that role
            I've been defining a rebuild and expansion of the newly acquired lodging distribution system.
        </p>
        <p>
            Most recently I've chosen to refocus on software development. The company has switched from
            a Microsoft stack to a MEAN stack and I'm making the transition with it.
        </p>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Healthways (formerly DIGOP) July 2005 - September 2007</h3>
    </div>
    <div class="panel-body">
        <p>
            As a senior developer, I played a leadership role in developing one of the company's flagship products.
            I was responsible for meeting with product owners, running an agile project management process,
            architecture, estimating implementation times, ensuring a consistent quality of implementation,
            deploying the product to production, and implementing the most complicated features. My team's portion
            of the product consisted of a public facing web portal and an administrative site for internal use.
            Much of the web portal work centered on building a branding system capable of customizing the site to
            give it a distinct look for different clients. The project required extensive integration with other
            sites and systems within the company and with third parties. Security of our users' personal health
            information was always a top priority and required various encryption technologies, secure web
            services and protection against SQL Injection and XSS attacks.
        </p>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">QuantumPM June 2003 - April 2005</h3>
    </div>
    <div class="panel-body">
        <p>
            My main role was developing data driven websites and other applications to give executives and
            decision-makers visibility into project status and the overall health of their organization.
            Websites were created using ASP.NET in VB.NET or C#.  Data was stored in a MS SQL Server database.
            The data access tier used SQL Stored Procedures.  Many of the web applications were added features
            for MS Project Web Access and were integrated with the Project database.
        </p>
    </div>
</div>
<h2>Examples of My Work</h2>
<ul>
    <li>
        <a href="http://www.vacationroost.com" target="_blank">VacationRoost</a> -
        Made major contributions while employed by VacationRoost.
    </li>
    <li>
        <a href="https://www.alwayscompeting.com" target="_blank">Always Competing</a> -
        Founded Always Competing as a side project in 2014. I built and currently maintain the system
        on nights and weekends.
    </li>
    <li>
        <a href="https://github.com/ekyoung" target="_blank">GitHub</a> -
        Contains code for this site and some other small projects.
    </li>
</ul>
<h2>My Bookshelf</h2>
<ul>
    <li><i>Domain Driven Design</i> by Evans</li>
    <li><i>Applying Domain Driven Design and Patterns</i> by Nilsson</li>
    <li><i>Framework Design Guidelines</i> by Cwalina and Abrams</li>
    <li><i>Writing Secure Code</i> by Howard and LeBlanc</li>
    <li><i>The Lean Startup</i> by Eric Ries</li>
    <li><i>The Mythical Man Month</i> by Brooks</li>
    <li><i>The Five Dysfunctions of a Team</i> by Lencioni</li>
    <li><i>The Carrot Principle</i> by Gostick and Elton</li>
</ul>
[[ end ]]